

<div class="tab-pane fade" id="justify-pictures" role="tabpanel" aria-labelledby="justify-pictures-tab">
    <div class="row ">
        <div id="fuMultipleFile" class="col-lg-12 layout-spacing">
            <div class="statbox  box box-shadow">
                <div class="widget-content ">
                    <div class="custom-file-container" data-upload-id="mySecondImage">
                        <label>بارگذاری (میتوانید چندین عکس را باهم آپلود کنید) <a href="javascript:void(0)" class="custom-file-container__image-clear" title="Clear Image">x</a></label>
                        <label class="custom-file-container__custom-file">
                            <input id="files" type="file" class="custom-file-container__custom-file__custom-file-input" multiple>
                            <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                            <span class="custom-file-container__custom-file__custom-file-control"></span>
                        </label>
                        <div class="custom-file-container__image-preview"></div>
                    </div>
                </div>
            </div>
        </div>
        <button onclick="Photo()" class="btn btn-success">تایید</button>
    </div>
</div>

 
<script>
function Photo(){
    debugger
        var test = $("#files").val();
}
</script>