@page
@using System.Collections.Specialized
@model SaleInWeb.Pages.TestModel
@{
    Layout=null;
}

<link href="~/plugins/loaders/custom-loader.css" rel="stylesheet" type="text/css" />




<div id="requestLoader" class="lds-dual-ring overlay "></div>


