@page
@model SaleInWeb.Pages.Invoice.InvoiceModel
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "پیش فاکتور";
}

<style>
    /* Style the tab */

    td.bg-aliceblue {
        background-color: aliceblue;
    }

    .verticalLine {
        float: right;
        border-left: 1px solid darkgrey;
        padding-left: 10px;
        padding-right: 10px
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

    .product-group:hover {
        /* background-color: #ddd;*/
    }


    .card {
        border: none;
    }

    .product-group.active {
        /*background-color: #ccc;*/
    }

    .product-group {
        padding-right: 30px !important;
        padding: 6px 12px;
        display: none;
    }

    .form-group.col-md-5 {
        display: flex;
        align-items: center;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
    }

    .card {
    }

    .product-content {
    }
</style>


<link href="~/assets/css/persian-datepicker.css" rel="stylesheet" />
<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">



<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="row">
            <div id="tabsAlignments" class="col-lg-12 col-12 layout-spacing">
                <div class="widget-content widget-content-area justify-tab">

                    <ul class="nav nav-tabs  mb-3 mt-3 nav-fill" id="justifyTab" role="tablist">
                        <div class="tab">
                            <button id="custom-menu" class="tablinks" onclick="getProductModal(event, 'CustomMenu','invoice')">منوی سفارشی</button>
                            <button class="tablinks" onclick="openCity(event, 'Paris')">منوی نمایشی</button>
                            <button class="tablinks" onclick="PreInvoiceList()">پیش فاکتور</button>
                            <button class="tablinks" onclick="getProductModal(event, 'CustomMenu','pre')"> انتخاب از پیش فاکتور</button>
                            <button class="tablinks" onclick="invoiceTempList()">فاکتور موقت</button>
                        </div>
                    </ul>
                    <form method="post" id="createForm" name="submitForm">
                        <div class="tab-content" id="justifyTabContent">
                            <div class="tab-pane fade show active" id="justify-home" role="tabpanel" aria-labelledby="justify-home-tab">
                                <div class="row" id="cancel-row">

                                    <div id="Paris" class="tabcontent">
                                        <h3>Paris</h3>
                                        <p>Paris is the capital of France.</p>
                                    </div>

                                    <div id="Tokyo" class="tabcontent">
                                        <div class="row">

                                            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                                <table id="dataTable_3" class="text-center Current-color table table-striped table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>نام کالا</th>
                                                            <th>گروه کالا</th>
                                                            <th>قیمت کالا</th>
                                                            <th>افزودن</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="container  text-center d-none" id="invoiceType">
                                        <p><strong class="font-wight-bold">نوع فاکتور: <span id="invoiceTypeText"></span></strong></p>
                                    </div>

                                    <div class="row" id="productName"></div>


                                    <div class="col-xl-12 col-lg-12 col-sm-12">

                                        <div class="card" id="cardPrint_1">
                                            <div class="card-body pb-0">
                                                <div class="row pb-3 pl-3">
                                                    <div>
                                                        <input type="button" id="addAccountClub" class="btn btn-success btn-sm btn-rounded" value="انتخاب مشتری" />
                                                    </div>
                                                    <div>
                                                        <input onclick="InvoiceList()" type="button" id="" class="btn btn-warning btn-sm btn-rounded" value="فاکتور های ثبت شده" />
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class=" col-md-2">
                                                        <input id="" style="height:30px !Important" class="flatpickr datePicker flatpickr-input active form-control form-control-sm" />
                                                    </div>
                                                    <div class="form-group col-md-2 ">
                                                        <input type="text" id="invoiceNumber" class="form-control form-control-sm" style="height:30px !Important" placeholder="شماره فاکتور">
                                                    </div>

                                                    <div class="form-group col-md-3 ">
                                                        <p type="text" class="form-control form-control-sm d-none" style="height:30px !Important; border:none;" id="invoiceStatus"> وضعیت فاکتور: <span id="invoiceStatusText"></span></p>
                                                    </div>

                                                    <div class="form-group col-md-3 ">
                                                        <p type="text" class="form-control form-control-sm d-none" style="height:30px !Important; border:none;" id="invoicePayStatus"> وضعیت پرداخت: <span id="invoicePayStatusText"></span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card" id="cardPrint">
                                            <div class="card-header d-none" id="accClubDetails">
                                                <div class="row">
                                                    <div class="mr-30 verticalLine">
                                                        <strong>
                                                            <span id="accClubName" style="color:black;"></span>
                                                        </strong>
                                                    </div>

                                                    <div class="mr-30 verticalLine">
                                                        <strong>
                                                            <span id="accClubType" style="color:black;"></span>
                                                        </strong>
                                                    </div>

                                                    <div class="mr-30 verticalLine">
                                                        <strong>
                                                            <span id="accClubMobile" style="color:black;"></span>
                                                        </strong>
                                                    </div>
                                                    <div class="mr-30 verticalLine">
                                                        <strong>
                                                            <span id="accClubAddress" style="color:black;"></span>
                                                        </strong>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <input type="hidden" value="" name="type" id="type" />
                                        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="productList">
                                            <table id="property-dataTable" class="Current-color table table-striped table-bordered property-dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>نام کالا</th>
                                                        <th>تعداد</th>
                                                        <th>قیمت</th>
                                                        <th>قیمت کل</th>
                                                        <th>تخفیف (درصد)</th>
                                                        <th>مبلغ پس از تخفیف</th>
                                                        <th>مالیات</th>
                                                        <th>مبلغ نهایی</th>
                                                        <th>تسهیم</th>
                                                        <th>تخفیف با تسهیم</th>
                                                        <th>توضیح</th>
                                                        <th>عملیات</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>


                                            <div id="total" class="row d-none">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row col col-md-12" style="right:50%">
                                        <button type="submit" class="btn btn-dark btn-sm btn-rounded pull-left invoicePay d-none">تسویه کارتخوان</button>
                                        <button type="button" id="cashPayment" class="btn btn-primary btn-sm btn-rounded pull-left d-none invoicePay">تسویه نقدی</button>
                                        <button type="button" id="otherPayment" class="btn btn-warning btn-sm btn-rounded pull-left d-none invoicePay">سایر روش های تسویه</button>
                                        <button type="button" class="btn btn-info btn-sm btn-rounded pull-left" id="tempInvoice">فاکتور موقت</button>
                                        <button id="submitPrint" type="button" class="btn btn-success btn-sm btn-rounded">تایید و چاپ</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>








<partial name="Modals" model="@Model.Bank" />

@section Scripts
    {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/assets/js/datepicker/persian-datepicker.min.js"></script>
    <script src="~/assets/js/datepicker/persian-date.min.js"></script>
    <script src="~/source/js/invoice/invoice.js"></script>
}
