<div class="modal fade" id="productListDes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">افزودن توضیح </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form method="post" class="needs-validation" name="submitForm" id="">
                <div class="modal-body">
                    <div class="widget-content">
                        <div class="form-row">
                            <div class="col-md-12 mb-5">
                                <textarea id="descript" type="text" class="form-control basic border-none" placeholder="توضیح خود را بنوسید" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="prodcutDes" value="" />
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                    <button onclick="addDesToPrdList()" type="button" class="btn btn-info" data-dismiss="modal"><i class="flaticon-cancel-12"></i> تایید</button>
                </div>
            </form>

        </div>
    </div>
</div>



<div class="modal fade" id="AccClbList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">لیست مشترکین </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="row layout-top-spacing" id="cancel-row">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content  br-6">
                            <div class="text-center">
                                <a target="_blank" asp-page="/BaseData/CreateAccountClub" class="btn btn-success btn-rounded btn-sm">ایجاد مشترک جدید</a>
                            </div>
                            <div class="table-responsive mb-4 mt-4">
                                <table id="dataTable_2" class="table table-hover table-bordered cell-border row-border" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>نام</th>
                                        <th>کد</th>
                                        <th>تاریخ تولد</th>
                                        <th>نوع مشترک</th>
                                        <th>درصد تخفیف</th>
                                        <th>رتبه مشترک</th>
                                        <th>موبایل</th>
                                        <th>جنسیت</th>
                                        <th>عملیات</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                
                                <div class="modal-footer pull-left">
                                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> بستن</button>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="CustomMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">لیست کالا ها </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="row layout-top-spacing" id="">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content  br-6">
                            <div id="" class="">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                        <table id="dataTable_1" class="text-center Current-color table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>نام کالا</th>
                                                <th>گروه کالا</th>
                                                <th>قیمت کالا</th>
                                                <th>افزودن</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                           
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="invoiceList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">لیست کالا ها </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="row layout-top-spacing" id="">
                    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
                        <div class="widget-content  br-6">
                            
                            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="productList">
                                <div class="card-title ">
                                    @*    <span> وضعیت فرم: <strong class="text-danger mt-5">تایید نشده</strong></span>*@
                                </div>
                                <table id="invoice-dataTable" class="Current-color table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>نام کالا</th>
                                        <th>تعداد</th>
                                        <th>قیمت</th>
                                        <th>قیمت کل</th>
                                        <th>تخفیف (درصد)</th>
                                        <th>مبلغ پس از تخفیف</th>
                                        <th>مالیات</th>
                                        <th>مبلغ نهایی</th>
                                        <th>تسهیم</th>
                                        <th>توضیح</th>
                                        <th>عملیات</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts
    {


}
