@page
@model SaleInWeb.Pages.Invoice.PreInvoiceModel
@{
}

<link 
    rel="stylesheet"
    href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">


<style>
    /* Style the tab */
    
    
    .verticalLine {
        float:right;
  border-left: 1px solid darkgrey;
  padding-left:10px;
  padding-right:10px
}

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

    .product-group:hover {
        /* background-color: #ddd;*/
    }


    .card {
        border: none;
    }

    .product-group.active {
        /*background-color: #ccc;*/
    }

    .product-group {
        padding-right: 30px !important;
        padding: 6px 12px;
        display: none;
    }
    
    .form-group.col-md-5 {
    display: flex;
    align-items: center;
}

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
    }

    .card {
    }

    .product-content {
    }
</style>


<link href="~/assets/css/persian-datepicker.css" rel="stylesheet" />
<link href="~/plugins/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">



<div id="content" class="main-content">
    <div class="layout-px-spacing">
        <div class="row">
            <div id="tabsAlignments" class="col-lg-12 col-12 layout-spacing">
                <div class="widget-content widget-content-area justify-tab">

                    <ul class="nav nav-tabs  mb-3 mt-3 nav-fill" id="justifyTab" role="tablist">
                        <div class="tab">
                            <button id="custom-menu" class="tablinks" onclick="openCity(event, 'CustomMenu')">منوی سفارشی</button>
                            <button class="tablinks" onclick="openCity(event, 'Paris')">منوی نمایشی</button>
                            <button class="tablinks" onclick="openCity(event, 'Tokyo')">میز</button>
                            <button class="tablinks" onclick="openCity(event, 'Tokyo')">پکیج</button>
                            <button class="tablinks" onclick="openCity(event, 'Tokyo')">فاکتور موقت</button>
                        </div>
                    </ul>
                    <form method="get" enctype="multipart/form-data" class="needs-validation" id="createForm" name="createForm">
                        <div class="tab-content" id="justifyTabContent">
                            <div class="tab-pane fade show active" id="justify-home" role="tabpanel" aria-labelledby="justify-home-tab">
                                <div class="row layout-top-spacing" id="cancel-row">
                                    <div class="col-xl-5 col-lg-5 col-sm-12  layout-spacing" style="margin-top: -40px;">
                                        <br>
                                        <!-- Tab content -->
                                        <div id="CustomMenu" class="tabcontent">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                                        <table id="dataTable_1" class="text-center Current-color table table-striped table-bordered">
                                                            <thead>
                                                            <tr>
                                                                <th>نام کالا</th>
                                                                <th>گروه کالا</th>
                                                                <th>قیمت کالا</th>
                                                                <th>افزودن</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                           
                                                            </tbody>
                                                        </table>
                                                    </div>
                                            </div>
                                        </div>

                                        <div id="Paris" class="tabcontent">
                                            <h3>Paris</h3>
                                            <p>Paris is the capital of France.</p>
                                        </div>

                                        <div id="Tokyo" class="tabcontent">
                                            <div class="row">
                                               
                                                <div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
                                                    <table id="dataTable_3" class="text-center Current-color table table-striped table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>نام کالا</th>
                                                            <th>گروه کالا</th>
                                                            <th>قیمت کالا</th>
                                                            <th>افزودن</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row" id="productName">
                                        </div>
                                    </div>
                                    


                                    <div class="col-xl-7 col-lg-7 col-sm-12  layout-spacing">
                                        <div class="card" id="cardPrint">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div>
                                                        <input type="button" id="addAccountClub" class="btn btn-success btn-sm btn-rounded" value="انتخاب مشتری"/>
                                                    </div>
                                                   
                                                    <div class=" col-md-3">
                                                        <input id="" style="height:30px !Important" class="flatpickr datePicker flatpickr-input active form-control form-control-sm"/>
                                                    </div>
                                                    <div class="form-group col-md-3 ">
                                                        <input type="text" class="form-control form-control-sm" style="height:30px !Important" id="version" placeholder="شماره فاکتور" required="" pattern="^.+$" value="">
                                                    </div>
                                                    <div class="">
                                                        <strong>
                                                            <span id="accClubName" style="color:black;" ></span>
                                                        </strong>
                                                    </div>
                                                </div>
                                                </div>
                                        </div>
                                        

                                        <div class="col-md-12 col-sm-12 col-xs-12 table-responsive" id="productList">
                                            <div class="card-title ">
                                            @*    <span> وضعیت فرم: <strong class="text-danger mt-5">تایید نشده</strong></span>*@
                                            </div>
                                            <table id="property-dataTable" class="Current-color table table-striped table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>نام</th>
                                                    <th>مقدار</th>
                                                    <th>فی</th>
                                                    <th>%</th>
                                                    <th>تسهیم</th>
                                                    <th>توضیح</th>
                                                    <th>عملیات</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="row col col-md-12" style="right:70%">
                                        <button type="submit" class="btn btn-info btn-sm btn-rounded pull-left">فاکتور موقت</button>
                                        <button onclick="submitPrint()" type="button" class="btn btn-secondary btn-sm btn-rounded pull-left">تایید و چاپ</button>
                                        <button type="submit" class="btn btn-primary btn-sm btn-rounded pull-left">تسویه فاکتور</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="Modals"/>

@section Scripts
{

    <script src="~/assets/js/datepicker/persian-datepicker.min.js"></script>
    <script src="~/assets/js/datepicker/persian-date.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

    <script src="~/source/js/invoice/pre-invoice.js"></script>
}
